<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <a class="sidebar-title" href="{{ site.baseurl }}">
          Explorations of<br>
          Black Literature
        </a>
      </h2>
    </div>

    <nav class="sidebar-nav">
      <ul class="sidebar-ul">
        <li><a class="no-decor" href="{{ site.baseurl }}">Home</a></li>
        <li><a class="no-decor" href="{{ site.baseurl }}/syllabus">Syllabus</a></li>
        <li><a class="no-decor" href="{{ site.baseurl }}/other">Additional Writers & Readings</a></li>
        <li><a class="no-decor" href="{{ site.baseurl }}/about-QuandraPrettyman">About Quandra Prettyman</a></li>
      </ul>

    </nav>

    <p style="font-size: 12px;">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
