---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">Class {{ page.number }}</span>
  {{ content }}
</div>

<div class="col-md-4">
  {% if page.previous.url %}
    <a class="no-decor back-to-syllabus" href="{{ site.baseurl }}{{page.previous.url}}">&laquo; Previous Class</a>
  {% endif %}
</div>
<div class="col-md-4">
  <p><a class="no-decor back-to-syllabus" href="{{ site.baseurl }}/syllabus">Back to Syllabus</a></p>
</div>
<div class="col-md-4">
  {% if page.next.url %}
    <a class="no-decor back-to-syllabus" href="{{ site.baseurl }}{{page.next.url}}">Next Class &raquo;</a>
  {% endif %}
</div>